*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    font-family: sans-serif;
    
}

.logo{
    display: flex;
    margin-left: 1.87em;
}

.logo img{
    width:  3.1em;
    height: 3.1em;
}

.logo2{
    display: flex;
    margin-right: 1.87em;
}

.logo2 img{
    width: 2.5em;
    margin-right: 0.31em;
}


.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.37em;
    background-color: #29c224;
    position: fixed;
    width: 100%;
    z-index: 100%;
    font-weight: bold; 
    text-transform: uppercase;  /*Transforma en mayuscula*/
      
}

.banner{
    height: 60vh !important;
    background: url(/img/banner.png) no-repeat center;  
    background-attachment: fixed;   /*Para mover la foto scroll*/
    background-size:cover;      /*cover: ocupa todo el ancho la imagen*/
}  


.menu2{
    display: flex;
    margin-right: 0.62em;
}

.menu2 a {
    display: block;
    padding: 1.25em 1.25em;
    color: rgb(233, 231, 231);
    text-decoration: none;
    color: black;

}

.menu2 a:hover{
    background-color: #b5ecad;
}

.logo2 img:hover{
    background-color: #b5ecad;
}

.header {
    display: flex;
    align-items: center;
}


.header{
    height: 30vh !important;
    background: url(/img/banner.png);  
    background-attachment: fixed;
    background-size: contain;  /* Contain: ajusta la imagen dentro del contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}  

.content{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.content-products{
    display: flex;  /*diseño cuadricula*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1.56em;
    margin-top: 1.56em;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    
}

.title-catalog{
    width: 100%;
    display: flex;
    padding: 0.9375em;
    margin-bottom: 1.25em;
}

.button-more{
    margin-left: auto;
    width: 4.5%;
}

.items-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.25em;
}


.item{
    border-radius:  0.62em;
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    margin: 0 1.25em 1.25em;

}
.item:hover{
    box-shadow: 0 0.625em 1.25em black;
}

.producto:last-child {
    margin-right: 0; /* No aplicar margen a último elemento */
}

.info-product{
    padding: 0.93em 1.87em;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 0.62em;
}

.price{
    font-size: 1em;
    font-weight: 750;
}

.info-product button{
    border: none;
    background: none;
    background-color: black;
    color: white;
    padding: 0.93em 0.625em;
    cursor: pointer;
}

.item img{
    height: 18.75em;
    object-fit: cover;
    border-radius: 0.625em 0.625em 0 0;
}

.page-footer{
    border-bottom: 1px solid #9c9a9a;
    background-color: #f4f4f4;
    margin-top: 3.75em;

}

.tittle-footer{
    margin-top: 0.31em;
}


.btn{
    width: auto;
    padding: 0.25em 0.625em;
    font-size: 1rem;
    line-height: 1.2rem;
    color: aliceblue;
    background-color: rgb(35, 126, 206);
    margin-top: 1.25em;
    cursor: pointer;
    border-radius: 0.5em;
    margin-left: 1.25em;
}

.subscribe{
    min-height: 3.75em;
    justify-content: center;
    display: flex;
    padding: 2.5em;
    margin-bottom: 1.25em;
    
}

.policy-text {
    margin-top: 0.93em;
    color: #000;
    display: block;
}

.input-text{
    width: 18.75em; /* Ancho del cuadro de texto */
    height: 1.87em; /* Altura del cuadro de texto */
    font-size: 1rem; 
}


.policy-link {
    color: rgb(35, 126, 206); /* Color azul para los enlaces */
    text-decoration: none; /* Remueve el subrayado de los enlaces */
}

.policy-link:hover {
    text-decoration: underline; /* Añade subrayado al pasar el ratón sobre el enlace */
}

.footer-content{
    display: flex;
    list-style: none none;
    justify-content: center;
    text-decoration: none;
}

.footer-content h4{
    text-transform: uppercase;
}

.footer-content ul li{
    list-style: none;
}

.about-footer{
    padding-right: 3.125em;
}

.listas-about li a{
    text-decoration: none;
}

.contacto-footer{
    padding-left: 7em;
    
}





/*
    PARA EL COLOR DEL BORDE
    justify-content: center;

*/





/* Media Queries */
@media screen and (max-width: 768px) {
    .head {
        height: 5em; 
    }

    .logo {
        margin-left: 1.5em;
    }

    .logo2 {
        margin-right: 1.5em;
    }

    .menu2 a {
        padding: 1em; 
    }

    .content-products {
        width: 90%; 
    }

    .item {
        margin: 0 1em 1em; 
    }

    .item img {
        height: 15em; 
    }

    .btn {
        margin-left: 1em; 
    }
}



@media screen and (max-width: 1440px) {
    .logo {
        margin-left: 0.93em; 
    }

    .logo img {
        width: 2.5em; 
        height: 2.5em; 
    }

    .logo2 {
        margin-right: 0.93em; /
    }

    .logo2 img {
        width: 2em; 
        margin-right: 0.31em; 
    }

    .content-products {
        width: 90%; 
    }

    .items-container {
        flex-wrap: wrap; 
    }

    .item {
        margin: 0.93em 0.62em; 
    }

    .item img {
        height: 15em; 
    }

    .button-more{
        margin-left: auto;
        width: 7.5%;
    }

}









/*






*/
