*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    font-family: sans-serif;
    
}

.logo{
    display: flex;
    margin-left: 30px;
}

.logo img{
    width:  50px;
    height: 50px;
}

.logo2{
    display: flex;
    margin-right: 30px;
}

.logo2 img{
    width: 40px;
    margin-right: 5px;
}


.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: #29c224;
    position: fixed;
    width: 100%;
    z-index: 100%;
    font-weight: bold; 
    text-transform: uppercase;  /*Transforma en mayuscula*/
      
}

.banner{
    height: 60vh !important;
    background: url(/img/banner.png) no-repeat center;  
    background-attachment: fixed;   /*Para mover la foto scroll*/
    background-size:cover;      /*cover: ocupa todo el ancho la imagen*/
}  


.menu2{
    display: flex;
    margin-right: 10px;
   

}

.menu2 a {
    display: block;
    padding: 20px 20px;
    color: rgb(233, 231, 231);
    text-decoration: none;
    color: black;

}

.menu2 a:hover{
    background-color: #b5ecad;
}

.logo2 img:hover{
    background-color: #b5ecad;
}

.header {
    display: flex;
    align-items: center;
}


.header{
    height: 30vh !important;
    background: url(/img/banner.png);  
    background-attachment: fixed;
    background-size: contain;  /* Contain: ajusta la imagen dentro del contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}  

.content{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}






.container-flex{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: center;
   
}










.content-products{
    display: flex;  /*diseño cuadricula*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 25px;
    margin-top: 25px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    
}

.title-catalog{
    width: 100%;
    display: flex;
    padding: 15px;
    margin-bottom: 20px;
}

.button-more{
    margin-left: auto;
    width: 4.5%;
}

.items-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.item{
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    margin: 0 20px 20px;

}
.item:hover{
    box-shadow: 0 10px 20px black;
}

.producto:last-child {
    margin-right: 0; /* No aplicar margen a último elemento */
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 16px;
    font-weight: 750;
}

.info-product button{
    border: none;
    background: none;
    background-color: black;
    color: white;
    padding: 15px 10px;
    cursor: pointer;
}

.item img{
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.page-footer{
    border-bottom: 1px solid #9c9a9a;
    background-color: #f4f4f4;
    margin-top: 60px;

}

.tittle-footer{
    margin-top: 5px;
}


.btn{
    width: auto;
    padding: 4px 10px;
    font-size: 1rem;
    line-height: 1.2rem;
    color: aliceblue;
    background-color: rgb(35, 126, 206);
    margin-top: 20px;
    cursor: pointer;
    border-radius: 8px;
    margin-left: 20px;
}

.subscribe{
    min-height: 15vh;
    justify-content: center;
    display: flex;
    padding: 40px;
    margin-bottom: 20px;
    
}

.policy-text {
    margin-top: 15px;
    color: #000;
    display: flex;
    text-align: center;
}

.input-text{
    width: 300px; /* Ancho del cuadro de texto */
    height: 30px; /* Altura del cuadro de texto */
    font-size: 1rem; 
}



.policy-link {
    color: rgb(35, 126, 206); /* Color azul para los enlaces */
    text-decoration: none; /* Remueve el subrayado de los enlaces */
    margin-left: 5px;
    
}

.policy-link:hover {
    text-decoration: underline; /* Añade subrayado al pasar el ratón sobre el enlace */
}

.footer-content{
    display: flex;
    border-right: 1px solid #9c9a9a;
    list-style: none none;
    justify-content: center;
    text-align: center;
    margin-top: 0rem;
    text-decoration: none;
    
}

.about-footer{
    padding-right: 50px;
    text-decoration: none;


}
.listas-about{
    list-style: none none;
    text-decoration: none;
}

.listas-contact{
    list-style: none none;
    text-decoration: none;
}

.contacto-footer{
    padding-left: 50rem;
    text-decoration: none;
}

.tittle-footer{
    color: #333;
    font-style: normal;
    font-size: 1.4rem;
    text-decoration: none;
}