*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    font-family: sans-serif;
    
}

.logo{
    display: flex;
    margin-left: 1.875em;
}

.logo img{
    width:  3.125em;
    height: 3.125em;
}

.logo2{
    display: flex;
    margin-right: 1.875em;
}

.logo2 img{
    width: 2.5em;
    margin-right: 0.3125em;
}


.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.375em;
    background-color: #29c224;
    position: fixed;
    width: 100%;
    z-index: 100%;
    font-weight: bold; 
    text-transform: uppercase;  /*Transforma en mayuscula*/
      
}

.banner{
    height: 60vh !important;
    background: url(/img/banner.png) no-repeat center;  
    background-attachment: fixed;   /*Para mover la foto scroll*/
    background-size:cover;      /*cover: ocupa todo el ancho la imagen*/
}  


.menu2{
    display: flex;
    margin-right: 0.625em;
}

.menu2 a {
    display: block;
    padding: 1.25em 1.25em;
    color: rgb(233, 231, 231);
    text-decoration: none;
    color: black;

}

.menu2 a:hover{
    background-color: #b5ecad;
}

.logo2 img:hover{
    background-color: #b5ecad;
}

.header {
    display: flex;
    align-items: center;
}


.header{
    height: 30vh !important;
    background: url(/img/banner.png);  
    background-attachment: fixed;
    background-size: contain;  /* Contain: ajusta la imagen dentro del contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}  

.content{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilos para el contenedor */
.container {
    display: flex;
    justify-content: space-between;
    padding: 1.25em; /* Convertido de 20px a em */
    position: absolute;
    top: 6.25em; /* Convertido de 100px a em */
    text-align: center;
}

/* Estilos para la sección de inicio de sesión */
.login {
    background-color: #f0f0f0;
    padding: 1.25em; /* Converted from 20px to em */
    border-radius: 0.3125em; /* Converted from 5px to em */
    text-align: center;
    position: relative;
    
}

.login h1, .login h3 {
    color: #333;
    
    
}

.login label {
    display: block;
    margin-bottom: 0.3125em; /* Converted from 5px to em */
}

.login input[type="email"], .login input[type="password"] {
    width: 30em;
    padding: 0.625em;
    margin-bottom: 0.9375em; 
    text-align: center;
}

.login a {
    display: block;
    margin-bottom: 0.9375em;
    color: #000000;
}


.login button {
    background-color: #28A745;
    color: white;
    border-radius: 0.625em;
    border: none;
    padding: 0.625em 1.25em;  
}

/* Estilos para la sección de registro */

.register {
    display: block;
    width: 45%;
    background-color: #f8f9fa;
    padding: 1.25em;
    border-radius: 0.32em;
    text-align: left;
}

.register p {
    color: #495057;
}

.register button {
    background-color: #28A745;
    color: white;
    border-radius: 0.625em;
    border: none;
    padding: 0.625em 1.25em;
    text-align: center;

}

input-text{
    width: 18.75rem; /* Ancho del cuadro de texto */
    height: 1.88rem; /* Altura del cuadro de texto */
    font-size: 1rem; 
}



.item{
    border-radius: 0.63rem;
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    margin: 0 1.25rem 1.25rem;

}
.item:hover{
    box-shadow: 0 0.63rem 1.25rem black;
}

.producto:last-child {
    margin-right: 0; /* No aplicar margen a último elemento */
}

.info-product{
    padding: 0.94rem 1.88rem;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 0.63rem;
}

.price{
    font-size: 1rem;
    font-weight: 750;
}

.info-product button{
    border: none;
    background: none;
    background-color: black;
    color: white;
    padding: 0.94rem 0.63rem;
    cursor: pointer;
}

.item img{
    height: 300px;
    object-fit: cover;
    border-radius: 0.63rem 0.63rem 0 0;
}

.page-footer{
    border-bottom: 0.06rem solid #9c9a9a;
    background-color: #f4f4f4;
    margin-top: 3.75rem;
    position: absolute;
    bottom: 0;
    display: flex;
    text-align: center;

}

.tittle-footer{
    margin-top: 0.31rem;
}


.btn{
    width: auto;
    padding: 0.25rem 0.63rem;
    font-size: 1rem;
    line-height: 1.2rem;
    color: aliceblue;
    background-color: rgb(35, 126, 206);
    margin-top: 1.25rem;
    cursor: pointer;
    border-radius: 0.5rem;
    margin-left: 1.25px;
}

.subscribe{
    min-height: 15vh;
    justify-content: center;
    display: flex;
    padding: 2.5rem;
    margin-bottom: 1.25rem;
    
}

.policy-text {
    margin-top: 0.94rem;
    color: #000;
    display: flex;
    text-align: center;
}

.input-text{
    width: 18.75rem; /* Ancho del cuadro de texto */
    height: 1.87rem; /* Altura del cuadro de texto */
    font-size: 1rem; 
}



.policy-link {
    color: rgb(35, 126, 206); /* Color azul para los enlaces */
    text-decoration: none; /* Remueve el subrayado de los enlaces */
    margin-left: 0.31rem;
    
}

.policy-link:hover {
    text-decoration: underline; /* Añade subrayado al pasar el ratón sobre el enlace */
}

.footer-content{
    display: flex;
    border-right: 0.06rem solid #9c9a9a;
    list-style: none none;
    justify-content: center;
    text-align: center;
    margin-top: 0rem;
    text-decoration: none;
    
}

.about-footer{
    padding-right: 3.12rem;
    text-decoration: none;


}
.listas-about{
    list-style: none none;
    text-decoration: none;
}

.listas-contact{
    list-style: none none;
    text-decoration: none;
}

.contacto-footer{
    padding-left: 50rem;
    text-decoration: none;
}

.tittle-footer{
    color: #333;
    font-style: normal;
    font-size: 1.4rem;
    text-decoration: none;
}