.positioned-text-container {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #ddd;
}

.positioned-text {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: #333;
    font-size: 1.5rem;
}