*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    font-family: sans-serif;
    
}

.logo{
    display: flex;
    margin-left: 1.875em;
}

.logo img{
    width:  3.125em;
    height: 3.125em;
}

.logo2{
    display: flex;
    margin-right: 1.875em;
}

.logo2 img{
    width: 2.5em;
    margin-right: 0.3125em;
}


.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.375em;
    background-color: #29c224;
    position: fixed;
    width: 100%;
    z-index: 100%;
    font-weight: bold; 
    text-transform: uppercase;  /*Transforma en mayuscula*/
      
}

.banner{
    height: 60vh !important;
    background: url(/img/banner.png) no-repeat center;  
    background-attachment: fixed;   /*Para mover la foto scroll*/
    background-size:cover;      /*cover: ocupa todo el ancho la imagen*/
}  


.menu2{
    display: flex;
    margin-right: 0.625em;
}

.menu2 a {
    display: block;
    padding: 1.25em 1.25em;
    color: rgb(233, 231, 231);
    text-decoration: none;
    color: black;

}

.menu2 a:hover{
    background-color: #b5ecad;
}

.logo2 img:hover{
    background-color: #b5ecad;
}

.header {
    display: flex;
    align-items: center;
}


.header{
    height: 30vh !important;
    background: url(/img/banner.png);  
    background-attachment: fixed;
    background-size: contain;  /* Contain: ajusta la imagen dentro del contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}  

.content{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilos para el contenedor */
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* Estilos para la sección de inicio de sesión */
.login {
    width: 45%;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
}

.login h1, .login h3 {
    color: #333;
}

.login label {
    display: block;
    margin-bottom: 5px;
}

.login input[type="email"], .login input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px; 
}

.login a {
    display: block;
    margin-bottom: 15px;
    color: #007BFF;
}

.login button {
    background-color: #28A745;
    color: white;
    border: none;
    padding: 10px 20px;
}

/* Estilos para la sección de registro */
.register {
    width: 45%;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
}

.register p {
    color: #495057;
}

.register button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
}