<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HABIT GAMES</title>
    <link rel="stylesheet" href="../css/products.css">
    <link rel="icon" type="image/jpg" href="../images/logo.png">

</head>

<body>

    <div class="head">
            
        <div class="logo">
            <img src="../images/logo.png" alt="logo de la pagina">
        </div>
            
        <nav class="menu2">
            <a href="/">Inicio</a>
            <a href="/offers">Ofertas</a>
            <a href="/news">Novedades</a>
            <a href="/catalogue">Catalogo</a> 
            <a href="/contact">Contacto</a>
            
        </nav>

        <div class="logo2">
            <div class="dropdown-icon">
                <img src="./images/desplegable.png" alt="Desplegable">
            </div>
            <a href="/login"><img src="./images/user.png" alt="icono para iniciar/registrarse"></a>
            <a href="#"><img class="carro" src="./images/carro.png" alt="carro de compra"></a>
        </div>

    </div>

    
</body>

<div class="products-container">
    <section class="tabla">

        <div class="content-products">
            <table>
                <tr>
                    <th>Si buscas..</th>
                    <th>Núm Jugadores</th>
                    <th>Tiempo de juego</th>
            
                </tr>
                <tr>
                    <th>Familiares, Fiesta, Infantil, Viaje</th>
                    <th>2,3,4,5,6</th>
                    <th>20 minutos</th>
            
                </tr>
                <tr>
                    <td>Autor</td>
                    <td></td>
                    <td>Carlos López, Domingo Cabrero</td>
                </tr>
                <tr>
                    <th>Mecánica</th>
                    <th></th>
                    <th>Coleccion de Sets</th>
                </tr>
                <tr>
                    <td>Temática</td>
                    <td></td>
                    <td>Medicina</td>
                </tr>
                <tr>
                    <th>Edad</th>
                    <th></th>
                    <th>8-10 // 10-14 // 14-18 años</th>
                </tr>
                <tr>
                    <td>Medidas</td>
                    <td></td>
                    <td>105 x 150 x 30 mm</td>
                </tr>
                <tr>
                    <th>Complejidad</th>
                    <th></th>
                    <th>Facil</th>
                </tr>
                <tr>
                    <td>Editorial</td>
                    <td></td>
                    <td>Tranjis</td>
                </tr>
                <tr>
                    <th>Contenido</th>
                    <th></th>
                    <th>68 Cartas</th>
                </tr>
                <tr>
                    <td>Idioma</td>
                    <td></td>
                    <td>Español, Inglés y Francés</td>
                </tr>
                <tr>
                    <th>Dependencia del idioma</th>
                    <th></th>
                    <th>Nula (solo instrucciones)</th>
                </tr>
            
            </table>
        </div> 
        <section>
            <div class="content-products2">
                <img src="../images/productos/monos_locos.jpg">
            </div>
        </section>
        <section>
            <h2 class="image-title">Monos Locos</h2>
            <p class="product-price">21.49€</p>
            <button class="buy-button">
                <img src="../images/carro.png">
                <span class="button-text">Añadir al carrito</span>
                
            </button>
            
            <div class="descripcion">
                <pre>
                    El juego Monos locos es muy fácil de aprender y muy divertido de 
                    jugar para padres e hijos! Después de crear una red de palitos, 
                    solo hay que colocar todos los monos dentro del árbol. Luego, se tira 
                    el dado por turnos y los jugadores tienen que sacar un palito del color 
                    indicado en el dado. ¡No dejes que los monos se caigan del árbol en tu 
                    turno o tendrás que añadirlos a tu pila de monos!
                </pre>
            </div>

        </section>
    </section>

</div>


<footer>
    <div class="page-footer">

        <div class="subscribe">
            
            <form action="suscribirse">
                
                <h2 class="tittle-footer">Recibe las ultimas novedades y ofertas</h2>

                <div class="input-group">
                    
                    <input type="text" name="email" id="email" placeholder="*email" class="input-text">

                    <input class="btn" type="submit" value="Suscríbete">
                    
                    <label for="policy-text" class="policy-text">
                        
                        <input type="checkbox" id="policy-text " name="policy-text" required> Acepto la <a href="#" class="policy-link"> Política de Privacidad y el Aviso Legal </a>.
                    </label>
                        

                </div>
            </form>

        </div>
         
    </div>

    <br><br>


    <div class="footer-content">
        <div class="about-footer">
            <h4 class="tittle-footer">ACERCA DE HABITGAMES</h4>
            <ul class="listas-about">
                <li>
                    <a href="#"><h5>Quiénes somos</h5></a>
                </li>
                <li>
                    <a href="#"><h5>Gastos de envío</h5></a>
                </li>
                <li>
                    <a href="#"><h5>Devoluciones</h5></a>
                </li>
            </ul>

        </div>
        <div class="vertical-border">

        </div>
        <div class="contacto-footer">
            <h4 class="tittle-footer">CONTACTANOS</h4>
            <ul class="listas-about">
                <li>
                    <a href="/contact"><h5>Escribenos</h5></a>
                    
                    <div class="social-icons">
                        <img src="../images/iconos social/whatsapp.png" alt="Whatsapp">
                        <img src="../images/iconos social/instagram.png" alt="Instagram">
                        <img src="../images/iconos social/facebook.png" alt="Facebook">
                        <img src="../images/iconos social/twitter.png" alt="Twitter">
                    </div>
                </li>
            </ul>

        </div>
       

    </div>




</footer>
</html>