<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HABIT GAMES</title>
    <link rel="stylesheet" href="/css/products.css">
    <link rel="icon" type="image/jpg" href="/images/logo.png">

</head>

<body>

    <div class="head">
            
        <div class="logo">
            <img src="/images/logo.png" alt="logo de la pagina">
        </div>
            
        <nav class="menu2">
            <a href="index.html">Inicio</a>
            <a href="offers.html">Ofertas</a>
            <a href="news.html">Novedades</a>
            <a href="catalogue.html">Catalogo</a>
            <a href="contact.html">Contacto</a>
            
        </nav>

        <div class="logo2">
            <div class="dropdown-icon">
                <img src="/images/desplegable.png" alt="Desplegable">
            </div>
            <a href="./login.html"><img src="/images/user.png" alt="icono para iniciar/registrarse"></a>
            <a href="#"><img class="carro" src="/images/carro.png" alt="carro de compra"></a>
        </div>

    </div>

    
</body>

<div class="products-container">
    <section class="tabla">

        <div class="content-products">
            <table>
                <tr>
                    <th>Si buscas..</th>
                    <th>Núm Jugadores</th>
                    <th>Tiempo de juego</th>
            
                </tr>
                <tr>
                    <th>Familiares, Fiesta, Infantil, Viaje</th>
                    <th>2,3,4,5,6</th>
                    <th>20 minutos</th>
            
                </tr>
                <tr>
                    <td>Autor</td>
                    <td></td>
                    <td>Carlos López, Domingo Cabrero</td>
                </tr>
                <tr>
                    <th>Mecánica</th>
                    <th></th>
                    <th>Coleccion de Sets</th>
                </tr>
                <tr>
                    <td>Temática</td>
                    <td></td>
                    <td>Medicina</td>
                </tr>
                <tr>
                    <th>Edad</th>
                    <th></th>
                    <th>8-10 // 10-14 // 14-18 años</th>
                </tr>
                <tr>
                    <td>Medidas</td>
                    <td></td>
                    <td>105 x 150 x 30 mm</td>
                </tr>
                <tr>
                    <th>Complejidad</th>
                    <th></th>
                    <th>Facil</th>
                </tr>
                <tr>
                    <td>Editorial</td>
                    <td></td>
                    <td>Tranjis</td>
                </tr>
                <tr>
                    <th>Contenido</th>
                    <th></th>
                    <th>68 Cartas</th>
                </tr>
                <tr>
                    <td>Idioma</td>
                    <td></td>
                    <td>Español, Inglés y Francés</td>
                </tr>
                <tr>
                    <th>Dependencia del idioma</th>
                    <th></th>
                    <th>Nula (solo instrucciones)</th>
                </tr>
            
            </table>
        </div> 
        <section>
            <div class="content-products2">
                <img src="/images/productos/news/dungeon.jpg" id="skyrim">
            </div>
        </section>
        <section>
            <h2 class="image-title">Dungeon Fighters</h2>
            <p class="product-price">44,99€</p>
            <button class="buy-button">
                <img src="/images/carro.png" alt="Añadir al carrito">
            </button>
            
            <div class="descripcion">
                <pre>
                    Es una expansión del juego Dungeon Fighter, que se puede 
                    jugar de forma independiente o en combinación con otro juego 
                    de Dungeon Fighter. Incluye un dado especial de péndulo, 4 
                    nuevos personajes, 21 monstruos, 3 jefes y nuevas cartas de 
                    equipo y de mazmorra. También hay como novedad una moneda de 
                    la suerte, un monóculo espectral, una plataforma para elevar 
                    el tablero y unos palillos de hueso.
                </pre>
            </div>

        </section>
    </section>




   

</div>