<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HABIT GAMES</title>
    <link rel="stylesheet" href="./css/contact.css">
    <link rel="icon" type="image/jpg" href="./images/logo.png">
</head>

<body>

    <div class="head">
            
        <div class="head">
            
            <div class="logo">
                <a href="/">
                    <img src="./images/logo.png" alt="logo de la pagina">
                </a>
            </div>
                
            <nav class="menu2">
                <a href="/">Inicio</a>
                <a href="/offers">Ofertas</a>
                <a href="/news">Novedades</a>
                <a href="/catalogue">Catalogo</a> 
                <a href="/contact">Contacto</a>
                
            </nav>


            <div class="logo2">
                <div class="dropdown-icon">
                    <img src="./images/desplegable.png" alt="Desplegable">
                </div>
                <a href="/login"><img src="./images/user.png" alt="icono para iniciar/registrarse"></a>
                <a href="/shopping"><img class="shopp" src="./images/carro.png" alt="carro de compra"></a>
            </div>

        </div>

    </div>
    <div class="container">
        <div class="login">
            <h1>Contáctenos</h1>
            <h2>Escribenos</h2>
            <h4>Tomamos nota y le responderemos lo antes posible, Gracias.</h4>
            
            <h3>Información Personal:</h3>       
            <form action="contact" method="post">
                <label for="nombre" class="text">Nombre:</label>
                <label for="policy-text" class="policy-text"></label> 
                <input type="text" id="name" name="name"  required>
                <label for="policy-text" class="policy-text"></label> 
                <label for="apellidos" class="text">Correo Electrónico:</label>
                <label for="policy-text" class="policy-text"></label> 
                <input type="email" id="email" name="email" required>
                <label for="policy-text" class="policy-text"></label>   
                <label for="number" class="text">Numero de telefono:</label>
                <label for="policy-text" class="policy-text"></label> 
                <input type="text" id="number" name="number" required>
                <div class="input-container">
                    <label for="reseña" class="text">Reseña:</label>
                    <textarea id="reseña" name="reseña" rows="4" cols="50"></textarea>
                </div>
                <div class="submit-btn">
                    <button type="submit">Enviar</button>
                </div>

            </form>
            
           
            
        </div>

      
     
    </div>

</body>

<footer>
    <div class="page-footer">

        <div class="subscribe">
            
            <form action="suscribirse">
                
                <h2 class="tittle-footer">Recibe las ultimas novedades y ofertas</h2>

                <div class="input-group">
                    
                    <input type="text" name="email" id="email" placeholder="*email" class="input-text">

                    <input class="btn" type="submit" value="Suscríbete">
                    
                    <label for="policy-text" class="policy-text">
                        
                        <input type="checkbox" id="policy-text " name="policy-text" required> Acepto la <a href="#" class="policy-link"> Política de Privacidad y el Aviso Legal </a>.
                    </label>
                        

                </div>
            </form>

        </div>
         
    </div>


    <div class="footer-content">
        <div class="about-footer">
            <h4 class="tittle-footer">ACERCA DE HABITGAMES</h4>
            <ul class="listas-about">
                <li>
                    <a href="#"><h5>Quiénes somos</h5></a>
                </li>
                <li>
                    <a href="#"><h5>Gastos de envío</h5></a>
                </li>
                <li>
                    <a href="#"><h5>Devoluciones</h5></a>
                </li>
            </ul>

        </div>
        <div class="vertical-border">

        </div>
        <div class="contacto-footer">
            <h4 class="tittle-footer">CONTACTANOS</h4>
            <ul class="listas-about">
                <li>
                    <a href="/contact"><h5>Escribenos</h5></a>
                    
                    <div class="social-icons">
                        <img src="./images/iconos social/whatsapp.png" alt="Whatsapp">
                        <img src="./images/iconos social/instagram.png" alt="Instagram">
                        <img src="./images/iconos social/facebook.png" alt="Facebook">
                        <img src="./images/iconos social/twitter.png" alt="Twitter">
                    </div>
                </li>
            </ul>

        </div>
       

    </div>




</footer>
</html>