*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    font-family: sans-serif;
    
}

.logo{
    display: flex;
    margin-left: 1.87em;
}

.logo img{
    width:  3.1em;
    height: 3.1em;
}

.logo2{
    display: flex;
    margin-right: 1.87em;
}

.logo2 img{
    width: 2.5em;
    margin-right: 0.31em;
}


.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.37em;
    background-color: #29c224;
    position: fixed;
    width: 100%;
    z-index: 1000;
    font-weight: bold; 
    text-transform: uppercase;  /*Transforma en mayuscula*/
      
}

.banner{
    height: 60vh !important;
    background: url(./images/banner.png) no-repeat center;  
    background-attachment: fixed;   /*Para mover la foto scroll*/
    background-size:cover;      /*cover: ocupa todo el ancho la imagen*/
}  


.menu2{
    display: flex;
    margin-right: 0.62em;
}

.menu2 a {
    display: block;
    padding: 1.25em 1.25em;
    color: rgb(233, 231, 231);
    text-decoration: none;
    color: black;

}

.menu2 a:hover{
    background-color: #b5ecad;
}

.logo2 img:hover{
    background-color: #b5ecad;
}

.header {
    display: flex;
    align-items: center;
}


.header{
    height: 30vh !important;
    background: url(/img/banner.png);  
    background-attachment: fixed;
    background-size: contain;  /* para ajustar imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}  

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilos para el contenedor */
.container {
    display: flex;
    justify-content: center;
    padding: 1.25em;
    position: relative;
    top: 6.25em; /* Ajusta el margen superior */
    text-align: center;
    z-index: 1;

}

/* Estilos para la sección de inicio de sesión */
.login {
    padding: 1em;
    border-radius: 0.3em;
    text-align: center;
    position: relative;
}

.login h3 {
    color: #333;
    margin-top: 0.6em;
}



.login label {
    display: block;
    margin-bottom: 0.3125em;
}

.password-input {
    display: flex;
    justify-content: space-between;
}

.text {
    text-align: left;
    margin-top: 1.875em;
}

.login input[type="email"],
.login input[type="password"] {
    width: 30em;
    padding: 0.625em;
    margin-bottom: 0.9375em;
    text-align: center;
}

.login a {
    display: block;
    margin-bottom: 0.9375em;
    color: #000000;
}


.login button {
    background-color: #28A745;
    color: white;
    border-radius: 0.625em;
    border: none;
    padding: 0.625em 1.25em;
    cursor: pointer;
}

/* Estilos para la sección de registro */

.register {
    display: flex;
    width: 40%;
    border-radius: 0.32em;
    text-align: left;
    margin-left: 15%;
}

.register p {
    color: #495057;
}

.register button {
    background-color: #28A745;
    color: white;
    border-radius: 0.625em;
    border: none;
    padding: 0.625em 1.25em;
    text-align: center;
    cursor: pointer;

}

.input-text {
    width: 18.75rem;
    height: 1.88rem;
    font-size: 1rem;
}


.container-flex {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: center;

}

.content-products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1.56em;
    margin-top: 1.56em;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}


.title-catalog {
    width: 100%;
    display: flex;
    padding: 0.9375em;
    margin-bottom: 1.25em;
}

.button-more {
    margin-left: auto;
    width: 4.5%;
}

.items-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.25em;
}

pre {
    font-family: inherit;
    padding: 0.6em;
    margin: 0.6em;
    width: 31em;
    text-align: left; 
}

.item {
    border-radius: 0.62em;
    display: flex;
    flex-direction: column;
    margin: 0 1.25em 1.25em;

}

.item:hover {
    box-shadow: 0 0.625em 1.25em black;
}

.producto:last-child {
    margin-right: 0;
}

.info-product {
    padding: 0.93em 1.87em;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 0.62em;
}

.price {
    font-size: 1em;
    font-weight: 750;
}

.info-product button {
    border: none;
    background: none;
    background-color: black;
    color: white;
    padding: 0.93em 0.625em;
    cursor: pointer;
}

.item img {
    height: 18.75em;
    object-fit: cover;
    border-radius: 0.625em 0.625em 0 0;
}

.page-footer {
    border-bottom: 1px solid #9c9a9a;
    background-color: #eee7e7;
    margin-top: 15em;

}

.tittle-footer {
    margin-top: 0.3em;
}


.btn {
    width: auto;
    padding: 0.25em 0.625em;
    font-size: 1rem;
    line-height: 1.2rem;
    color: aliceblue;
    background-color: rgb(35, 126, 206);
    margin-top: 1.25em;
    cursor: pointer;
    border-radius: 0.5em;
    margin-left: 1.25em;
}

.subscribe {
    display: flex;
    min-height: 3.75em;
    justify-content: center;
    padding: 2.5em;
    margin-bottom: 1.25em;

}

.policy-text {
    margin-top: 0.93em;
    color: #000;
    display: block;
   
}

.input-text {
    width: 18.75em;
    height: 1.87em;
    font-size: 1rem;
}


.policy-link {
    color: rgb(35, 126, 206);
    text-decoration: none;
}

.policy-link:hover {
    text-decoration: underline;
}

.footer-content {
    display: flex;
    list-style: none none;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    height: 6.25em;
    margin-top: 2.1em;
}

.footer-content h4 {
    text-transform: uppercase;
}

.footer-content ul li {
    list-style: none;
}

.about-footer {
    padding-right: 3.125em;

}

.listas-about li a {
    text-decoration: none;
    color: #9c9a9a;
    text-align: left;
}

.contacto-footer {
    padding-left: 10em;


}

.social-icons {
    display: flex;
    width: 1.15em;
    height: 1.1em;
    margin: 0.1em;
}


.vertical-border {
    display: flex;
    border-right: 0.09em solid #9c9a9a;
    padding-left: 6.2em;
    margin-top: -2.1em;

}

.dropdown-icon {
    display: none;
}

.formulario1 {
    margin-top: 3em;
}






@media screen and (max-width: 768px) {

    .head {
        height: 5em;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #29c224;
        justify-content: center;

    }

    .menu2 {
        display: none;
    }

    .products-container {
        display: block;
    }

    .logo2 {
        position: absolute;
        left: 20em;
    }

    .logo2 img {
        width: 2.2em;
    }

    .logo2 .dropdown-icon {
        position: absolute;
        right: 21.8em;
    }

    .header {
        display: none;
    }



    .dropdown-icon {
        display: flex;
    }

    .tittle-footer {
        font-size: 1em;
    }

    .input-group {
        margin-top: 1.25em;
    }

    .footer-content {
        display: none;
    }

    .register {
        display: none;
    }


    .login {
        padding: 1em;
        border-radius: 0.5em;
        text-align: center;
        position: relative;
        margin: auto;
        width: 100%;
        max-width: 25em;
    }

    .login input[type="email"],
    .login input[type="password"] {
        width: 100%;
        padding: 0.5em;
        margin-bottom: 1em;
        text-align: center;
    }






    @media screen and (min-width: 1440px) {
        .login {
            width: 50%;
            margin: auto;
            padding: 2em;
        }

        .register {
            width: 40%;
            margin-left: 25%;
            padding: 2em;
            text-align: center;
        }

        .login h1 {
            font-size: 2em;
        }

        .login input[type="email"],
        .login input[type="password"] {
            width: 70%;
        }

        .register p {
            font-size: 1.1em;
           
        }

        .register button {
            padding: 0.75em 1.5em;
            
            font-size: 1.1em;
        }

        .footer-content {
            display: flex;
        }

        .subscribe {
            padding: 2em 4em;
        }

        .policy-text {
            font-size: 0.9em;
        }

        .input-text {
            width: 20em;
            height: 2em;
            font-size: 1em;
        }
    }
}